.main-content {
    display: flex;
    gap: 3rem;
    padding: 1rem;
    flex-wrap: wrap;
}

/* Filtro*/
.filters h2{
    margin-bottom: 0.5rem;
}
.filter-category {
    padding: 1rem;
    border: 2px solid #ddd;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.filter-type{
    padding: 1rem;
    border: 1px solid #ddd;
}

.filter h2 {
    font-size: 18px;
    margin-bottom:1rem;
}

.options h2{
    margin-bottom: 0.5rem;
}

.filters-category h3 {
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: bold;
}

.filter-category label {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
}

.filter-category span {
    font-size: 14px;
}

.filters label input{
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

input[type="checkbox"] {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

/* Productos*/
.collections {
    flex: 1;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 1rem;
    /*min-width: 600px;*/
}

.product-car {
    text-align: center;
    background-color: #fff;
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
}

.product-image{
    max-width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.product-image:hover {
    transform: scale(1.09);
}

.product-card h3 {
    font-size: 14px;
    margin: 0;
    font-weight: 400;
    text-align: left;
}

.product-car p {
    font-size: 16px;
    font-weight: 600;
    color: #9893fb;
    text-align: left;
}

/*Pantallas pequeñas*/

@media (max-width: 1024px) {
    .filters-category{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .options{
        flex-direction: column;
        align-items: flex-start;
    }

    .sort-options {
        width: 100%;
        justify-content: flex-start;
        margin-top: 1rem;
    }

    .sort-options select {
        width: 100%;
    }

    .products{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

/* Pantallas tablets*/

@media (max-width: 768px) {
    .filters {
        width: 100%;
        margin-bottom: 1rem;
    }

    .filter-category,
    .filter-type {
        width: 100%;
        margin-bottom: 20px;
    }
    .product-car h3 {
        font-size: 12px;
    }
    .product-car p {
        font-size: 14px;
    }
    .products {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
    .product-car {
        padding: 10px;
    }
}

/* Pantallas móviles*/

@media (max-width: 480px) {
    .filters {
        width: 100%;
    }
    .filter-category,
    .filter-type {
        width: 100%;
    }
    .products {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .product-car h3 {
        font-size: 10px;
    }
    .product-car p {
        font-size: 12px;
    }
    .product-car {
        padding: 8px;
    }
}